  <div id="systemmarque" class="tab-pane fade">
      <div class="xp-ability-name"><br>Current progress in percent:</div>
      <br>
      <div class="xp-progress">
         <ProgressBar @currentValue={{{this.char.custom.marque}}} @maxValue="100" @bgColor="bg-success" @showLabel=true>
         </ProgressBar>
         <div class="progress-value">{{{this.char.custom.marque}}}%</div>
      </div>
  </div>
  <div id="systemdowayne" class="tab-pane fade">
     {{#if this.char.custom.house_list}}
         <h3>House Management</h3>
         <ProfileDowayne @house={{this.char.custom.house_list}} />
     {{/if}}
  </div>
