{{#if char.custom.house_list}}
<li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#systemdowayne">House Management</a></li>
{{/if}}
{{#if char.custom.marque}}
<li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#systemmarque">Marque</a></li>
{{/if}}
